<h2>Add Book to Bookcase</h2>

<form method="post" action="/books">
  <input type="text" id="title" name="title" placeholder="Title">
  <br></br>
  <input type="text" id="author" name="author" placeholder="Author">
  <br></br>
  <input type="submit" value="Add">
</form>
<br></br>
<a href="/<%= User.current_user(session).slug %>/bookcase">Back to My Bookcase</a>
