<h2><%= @book.title %></h2>

<h3>Author: <%= @book.author %></h3>

<% if @book.to_read %>
  <h3>Status: To Read</h3>
<% else %>
  <h3>Status: Have Read</h3>
<% end %>

<br></br>
<br></br>
<h4><a href="/books/<%= @book.id %>/edit">Edit Book Details</a></h4>
<br></br>
<a href="/users/<%= User.current_user(session).slug %>/bookcase">Back to My Bookcase</a>
